.body{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  flex-direction: column;
  height: 100%;
  width: 80%;
}
.body .changeSlide{
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
}
.body .changeSlide button{
  padding: 10px;
  border: none;
  font-size: 1.5rem;
}
.body h1{
  text-align: center;
}
.body .answers{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 5px;
}
body .answers button{
  font-size: 2rem;
  border: none;
}

@media screen and (max-width: 900px) {
  .body{
    width: 100%;
  }
}